body {
  background-image: url("https://thumbs.dreamstime.com/z/job-search-12604696.jpg");
}

.navbar img {
  height: 5%;

}

.navbar {
  width: 33%;
  background-color: #f7f9fc;
  overflow: auto;
}

  .navbar a {
  text-align: center;
  padding: 12px;
  color: red;
  text-decoration: none;
  font-size: 17px;
}


  .navbar a:hover {
  background-color:black;
}


  .active {
  background-color: #black;
}


}
  #footer {
  padding-bottom: center;
  font-family: monospace;
  padding:100px;
}

  .Search {
text-align: center;

}
