body {
  background-image: url("https://previews.123rf.com/images/manopjk/manopjk1501/manopjk150100032/36008303-comic-book-speech-bubble-pop-art-background-vector-illustration.jpg");
}

.navbar img {
  height: 5%;

}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  text-align: center;
  padding: 12px;
  color: red;
  text-decoration: none;
  font-size: 17px;
}


.navbar a:hover {
  background-color:black;
}


.active {
  background-color: #6699ff;
}


}
#footer {
  padding-bottom: center;
  font-family: monospace;
  padding:100px;
}

}
