body {
  background-image: url("https://thumbs.dreamstime.com/z/job-search-12604696.jpg");
}

.navbar img {
  height: 0.4px%;
 position: relative;
 text-align: center;

}

.navbar {
  width: 100%;
  background-color: transparent;
  overflow: auto;
  height: 0.5%;
  position: 100px 100px / 50px 50px;
  text-align: center;
  font-size: 26px;
  font-size: bold;
}

   .paragraph {
  font-size: 25px;
  font-family: cursive;
  color: black;
  text-align:right;
}


  .navbar a {
  text-align: center;
  padding: 14px 14px;
  color: red;
  text-decoration: none;
  font-size: 17px;
  font-style: center;

}


  .navbar a:hover {
  background-color:black;
}


  .active {
  background-color: #black;
}


}
  #footer {
  padding-bottom: center;
  font-family: monospace;
  padding:100px;
}

  .Search {
text-align: center;
width: 100%;
height:
margin: 0 auto;
display: inline-center;

}
  .search {
  text-align: center;
  padding-left: 40px;


}
}
